[Unit]
Description=.NET MVC Deploying a React-Redux app

[Service]
WorkingDirectory=/var/aspnetcore/Visualizer
ContentRootPath=/var/aspnetcore/Visualizer
ExecStart=/user/local/bin/dotnet /var/aspnetcore/Visualizer/Visualizer.dll
#Restart=Always
#RestartSec=10
SystlogIdentifier=dotnet-mvc-visualizer
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target