.navbar-full {
	border-radius: 0;
}

.die-stroke {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

/*body{
	background-color:lightgrey;
}

.row-fill {
	background-color: white;
	border-radius: 5px;
}*/